{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6">
          <div class="card" style="cursor: pointer;" onclick="window.location.href='nova_demanda_cloud'">
              <!-- <img src="https://via.placeholder.com/100" class="card-img-top" alt="Image Placeholder">   -->
              <div class="card-body" >
                  <h5 class="card-title">Infra Cloud / Network Cloud</h5>
                  <p class="card-text">Request to create/modify/delete resources in project environment and configuring Firewall in Cloud environment</p>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-body" style="cursor: pointer;" onclick="window.location.href='nova_demanda_network'">
                  <h5 class="card-title">Network</h5>
                  <p class="card-text">Request related to needs connectivity of Iron Network, like configuring Firewall, Netscaler, Routing/Switches</p>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
                <h5 class="card-title">Infra On Premise</h5>
                <p class="card-text">Request related to On Premise infrastructure, like helping deploying/configuring VMs in Iron's physical datacenter</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
                <h5 class="card-title">Engineering</h5>
                <p class="card-text">Small scope Engineering demands. Creation of minor complexity projects</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
              <h5 class="card-title">Bill of Materials</h5>
              <p class="card-text">Request os small quantities os standard equipament, like Switches, access points and telephones</p>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
              <h5 class="card-title">Troubleshooting</h5>
              <p class="card-text">Request to Troubleshooting and solve a problem related to a previous Cloud Computing or Networks demand</p>
          </div>
      </div>
  </div>
</div>
</div>

{% endblock %}
