{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6">
          <div class="card" style="cursor: pointer;" onclick="window.location.href='cloud_form'">
              <!-- <img src="https://via.placeholder.com/100" class="card-img-top" alt="Image Placeholder">   -->
              <div class="card-body" >
                  <h5 class="card-title">Cloud Computer</h5>
                  <p class="card-text">This is the content of Card 1.</p>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
                  <h5 class="card-title">Networking</h5>
                  <p class="card-text">This is the content of Card 2.</p>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
                <h5 class="card-title">Area desejada</h5>
                <p class="card-text">Area desejada</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
                <h5 class="card-title">Area desejada</h5>
                <p class="card-text">Area desejada</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
              <h5 class="card-title">Area desejada</h5>
              <p class="card-text">Area desejada</p>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-body" style="cursor: pointer;" onclick="window.location.href='https://www.example.com'">
              <h5 class="card-title">Area desejada</h5>
              <p class="card-text">Area desejada</p>
          </div>
      </div>
  </div>
</div>
</div>

{% endblock %}
