{% extends 'base.html' %}

{% block content %}

<div class="d-flex w-100 justify-content-between">
    <h1>Lista de Pedidos Cloud FDC</h1>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="col-md-6">
    <a class="btn btn-outline-info btn-sm" href="/todos_pedidos" role="button">Voltar para Exibir Pedidos</a>
    <a class="btn btn-outline-info btn-sm" href="/" role="button">Voltar ao Menu Principal</a>
</div>
<div>
    <p><br></p>
</div>


<div class="list-group list-group-flush">
    {% for item in items %}
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">FDC CLOUD - {{ item.requestIdCloud }}</h5>
                <small>Data de Criação do novo RG: {{ item.inputDate }}</small>
            </div>
            <small>
                {% if item.radioRg == "Yes" %}
                    <b>Novo RG: {{ item.radioRg }} |</b>
                    <b>Nome novo RG:</b> {{ item.inputResourceGroup }} |
                    <b>Projeto:</b> {{ item.inputProjectName }} | 
                    <b>Responsavel:</b> {{ item.inputResponsible }} |
                    <b>Service Principal:</b> {{ item.radioSp }} |
                    <b>Recursos Azure: </b> {{ item.inputAzureResources }} |
                    <b>HLD:</b> {{ item.inputHLD }} 
                {% else %}
                    <b>Novo RG:</b> {{ item.radioRg }} |
                    <b>Service Principal:</b> {{ item.radioSp }} |
                    <b>Recursos Azure: </b> {{ item.inputAzureResources }} |
                    <b>Necessita de rede:</b> {{ item.radioNet }} |
                    <b>HLD:</b> {{ item.inputHLD }} 
                {% endif %}
            </small>
        </li>
    {% endfor %}
</div>

{% endblock %}
