{% extends 'base.html' %}

{% block content %}

<div class="d-flex w-100 justify-content-between">
    <h1>Lista de Pedidos FDC</h1>
    <form class="form-inline my-2 my-lg-0" method="POST" action="/todos_pedidos/busca_por_nome">
        <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Search" name="pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
</div>
<div class="col-md-6">
    <a class="btn btn-outline-info btn-sm" href="/pedidos_cloud" role="button">Cloud</a>
    <a class="btn btn-outline-info btn-sm" href="/pedidos_network" role="button">Network</a>
    <a class="btn btn-outline-info btn-sm" href="#" role="button">Infra On Premise</a>
    <a class="btn btn-outline-info btn-sm" href="#" role="button">Engineering</a>
    <a class="btn btn-outline-info btn-sm" href="#" role="button">Bill of Materials</a>
    <a class="btn btn-outline-info btn-sm" href="#" role="button">Troubleshooting</a>
</div>
<div>
    <p><br></p>
</div>


<div class="list-group list-group-flush">
    {% for item in items %}
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">FDC - {{ item.requestId }}</h5>
                <small>{{ item.inputDate }}</small>
            </div>
            <small>
                <b>CC/PEP:</b> {{ item.inputDemandPEPCC }} |
                <b>PPM:</b> {{ item.inputPPM }} |
                <b>Solicitante:</b> Ricardo |
                <b>Gerente do Projeto:</b> {{ item.inputManager }} |
                <b>Tipo de Demanda:</b> {{ item.demandType }} |
                    {% if item.demandType == 'cloud' %}
                        <b>Id Ref. da Demanda: {{ item.requestIdFkCloud }}</b>
                    {% else %}
                        <b>Id Ref. da Demanda: {{ item.requestIdFkNetwork }}</b>
                    {% endif %}
            </small>
            <div class="col-md-6">
                <a class="btn btn-outline-info btn-sm" href="#" role="button">Exibir Detalhes do Pedido</a>
                <a class="btn btn-outline-warning btn-sm" href="#" role="button">Editar informações do Pedido</a>
                <a class="btn btn-outline-danger btn-sm" href="#" role="button">Deletar Pedido</a>
            </div>
        </li>
    {% endfor %}
</div>

{% endblock %}
