{% extends 'base.html' %}

<style>
    /* Estilização adicional para centralizar o formulário */
    .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ajusta a altura conforme necessário */
    }
</style>

{% block content %}
    <h1 class="container center-form">Infra Cloud / Network Cloud</h1>

    <!-- Inicio da parte de dados comuns dos usuarios -->
    <div class="container center-form">
        <form action="/processar_form" method="POST" class="row g-3">
            <div class="col-md-6">
                <label for="inputPPM" class="form-label">Project PPM ID: </label>
                <input type="text" class="form-control" id="inputPPM">
            </div>
            <div class="col-md-6">
                <label for="inputTypeCust" class="form-label">Type of PEP/Cost Center:</label>
                <select id="inputTypeCust" class="form-select">
                <option selected>...</option>
                <option>CAPEX</option>
                <option>OPEX</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputProjectDemandName" class="form-label">Project/Demand Name: </label>
                <input type="text" class="form-control" id="inputProjectDemandName" placeholder="Activity Description">
            </div>
            <div class="col-md-6">
                <label for="inputDemandPEPCC" class="form-label">Demand PEP/Cost Center: </label>
                <input type="text" class="form-control" id="inputDemandPEPCC" placeholder="PEP or CC">
            </div>
            <div class="col-md-6">
                <label for="inputManager" class="form-label">Project/Demand Manager: </label>
                <input type="text" class="form-control" id="inputManager" placeholder="E-mail of PM or Requestor">
            </div>
            <div class="col-md-6">
                <label for="inputArchitect" class="form-label">Solution Architect: </label>
                <input type="text" class="form-control" id="inputArchitect" placeholder="Architect E-mail">
            </div>
            <div class="col-md-6">
                <label for="inputEntityResposible" class="form-label">Iron entity responsible for payment:</label>
                <select id="inputEntityResposible" class="form-select">
                <option selected>...</option>
                <option>Iron S.A</option>
                <option>Iron Fundation</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputItOt" class="form-label">Does the demand affect IT or OT?</label>
                <select id="inputItOt" class="form-select">
                <option selected>...</option>
                <option>IT</option>
                <option>OT</option>
                </select>
            </div>
            <!-- Fim dados comuns dos usuarios -->
            <!-- Inicio da parte de dados para area de Cloud -->
            <div class="container">
                <label for="labelcheckbox" class="form-label">Create a new Resource Group?</label><br>
                <input class="form-check-input" type="radio" id="radioRgYes" name="choice" value="Yes">
                <label class="form-check-label" for="radioRgYes">
                    Yes
                </label>
                <input class="form-check-input" type="radio" id="radioRgNo" name="choice" value="No">
                <label class="form-check-label" for="radioRgNo">
                    No
                </label>
            </div>
            

            <!-- De acordo com a escolha do Radio Button o HTML vai mudar com um script basico em Javascript -->
            <div id="radioRgResult" class="mt-3">
                <!-- Aqui o script dinamico vai alocar o codigo html para alterar a pagina -->
            </div>

          
            
            
            <!-- Fim da parte de dados para area de Cloud -->





            <div class="col-12">
                <label for="inputSpecialReq" class="form-label">Does the demand support any special requirement?</label>
                <select id="inputSpecialReq" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
                </select>
            </div>
            <div class="col-12">
                <label for="inputHelpText" class="form-label">Help us better understand your demand: </label>
                <textarea class="form-control" id="inputHelpText" rows="3">...</textarea>
            </div>
            


            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>


    <script>
        const choiceRadios = document.querySelectorAll('input[name="choice"]');
        const resultDiv = document.getElementById('radioRgResult');
        
        choiceRadios.forEach(radio => {
            radio.addEventListener('change', () => {
                resultDiv.innerHTML = ''; // Limpa o conteúdo anterior

                if (radio.value === 'Yes'){
                    
                    // Criacao do label
                    const label = document.createElement('label');
                    label.textContent = 'E-mails of users that need access to the new Resource Group: '

                    // Criacao do campo 
                    const inputField = document.createElement('input');
                    inputField.setAttribute('id', 'inputNeedUsersAccess')
                    inputField.setAttribute('type', 'text');
                    inputField.setAttribute('class', 'form-control');
                    inputField.setAttribute('placeholder', 'Put all the e-mails separeted by commas (,)');
                    resultDiv.appendChild(label);
                    resultDiv.appendChild(inputField);
                }else if (radio.value === 'No') {
                    resultDiv.innerHTML = '<p> Voce escolheu nao.</p>'
                }
            })
        })
    </script>

<!-- <div class="col-12">
    <label for="inputNeedUsersAccess" class="form-label">Emails of users that need access to the new Resource Group: </label>
    <input type="text" class="form-control" id="inputNeedUsersAccess" placeholder="Put all the e-mails separeted by commas (,)">
</div> -->
    
{% endblock %}






