{% extends 'base.html' %}

<style>
    /* Estilização adicional para centralizar o formulário */
    .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ajusta a altura conforme necessário */
    }
</style>

{% block content %}
    <h1 class="container center-form">Infra Cloud / Network Cloud</h1>

    <!-- Inicio da parte de dados comuns dos usuarios -->
    <div class="container center-form">
        <form action="/processar_form_cloud" method="POST" class="row g-3">
            <div class="col-md-6">
                <label for="inputPPM" class="form-label">Project PPM ID: </label>
                <input type="number" class="form-control" id="inputPPM" name="inputPPM" step="1" min="0" pattern="{8,}" required title="Please enter at a PPM ID.">
            </div>
            <div class="col-md-6">
                <label for="inputTypeCust" class="form-label">Type of PEP/Cost Center:</label>
                <select id="inputTypeCust" class="form-select" name="inputTypeCust" required>
                <option>CAPEX</option>
                <option>OPEX</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputProjectDemandName" class="form-label">Project/Demand Name: </label>
                <input type="text" class="form-control" id="inputProjectDemandName" name="inputProjectDemandName" placeholder="Activity Description" required>
            </div>
            <div class="col-md-6">
                <label for="inputDemandPEPCC" class="form-label">Demand PEP/Cost Center: </label>
                <input type="text" class="form-control" id="inputDemandPEPCC" name="inputDemandPEPCC" placeholder="PEP or CC" required>
            </div>
            <div class="col-md-6">
                <label for="inputManager" class="form-label">Project/Demand Manager: </label>
                <input type="text" class="form-control" id="inputManager" name="inputManager"  placeholder="E-mail of PM or Requestor" required>
            </div>
            <div class="col-md-6">
                <label for="inputArchitect" class="form-label">Solution Architect: </label>
                <input type="text" class="form-control" id="inputArchitect" name="inputArchitect" placeholder="Architect E-mail" required>
            </div>
            <div class="col-md-6">
                <label for="inputEntityResposible" class="form-label">Iron entity responsible for payment:</label>
                <select id="inputEntityResposible" class="form-select" name="inputEntityResposible" required>
                <option>Iron S.A</option>
                <option>Iron Fundation</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputItOt" class="form-label">Does the demand affect IT or OT?</label>
                <select id="inputItOt" class="form-select" name="inputItOt" required>
                <option>IT</option>
                <option>OT</option>
                </select>
            </div>
            <div class="col-12">
                <label for="inputSpecialReq" class="form-label">Does the demand support any special requirement?</label>
                <select id="inputSpecialReq" class="form-select" name="inputSpecialReq" required>
                <option selected>opcao - 1</option>
                </select>
            </div>
            <div class="col-12">
                <label for="inputHelpText" class="form-label">Help us better understand your demand: </label>
                <textarea class="form-control" id="inputHelpText" name="inputHelpText" rows="3" required>...</textarea>
            </div>
            <!-- Fim dados comuns dos usuarios -->

            <!-- Inicio da parte de dados para area de Cloud -->
            <div class="container">
                <label for="labelRadioRg" class="form-label">Create a new Resource Group?</label><br>
                <input class="form-check-input" type="radio" id="radioRgYes" name="radioRg" value="Yes" required>
                <label class="form-check-label" for="radioRgYes">
                    Yes
                </label>
                <input class="form-check-input" type="radio" id="radioRgNo" name="radioRg" value="No" required>
                <label class="form-check-label" for="radioRgNo">
                    No
                </label>
            </div>
            
            <!-- De acordo com a escolha do Radio Button o HTML vai mudar com um script basico em Javascript -->
            <div id="radioRgResult" class="col-md-12">
                <!-- Aqui o script dinamico vai alocar o codigo html para alterar a pagina -->
            </div>
            
            <div class="container">
                <label for="labelRadioSp" class="form-label">Will your resource group require a Service Principal?</label><br>
                <input class="form-check-input" type="radio" id="radioSpYes" name="radioSp" value="Yes" required>
                <label class="form-check-label" for="radioSpYes">
                    Yes
                </label>
                <input class="form-check-input" type="radio" id="radioSpNo" name="radioSp" value="No" required>
                <label class="form-check-label" for="radioSpNo">
                    No
                </label>
            </div>
            <div class="col-md-6">
                <label for="inputHLD" class="form-label">Link to the High Level Design (HLD) on LeanIX: </label>
                <input type="text" class="form-control" id="inputHLD" name="inputHLD" placeholder="Insert Link HLD" required>
            </div>
            <div class="col-md-6">
                <label for="inputFunctionArea" class="form-label">Functional Area - Subscription </label>
                <select id="inputFunctionArea" class="form-select" name="inputFunctionArea" required>
                <option>General</option>
                <option>Brazil</option>
                <option>EUA</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputAzureResources" class="form-label">Azure Resources </label>
                <select id="inputAzureResources" class="form-select" name="inputAzureResources" required>
                <option>VM</option>
                <option>WEB APP</option>
                <option>SQL</option>
                </select>
            </div>
            <div class="container">
                <label for="labelRadioInternet" class="form-label">Will your resources require internet access?</label><br>
                <input class="form-check-input" type="radio" id="radioInternetYes" name="radioNet" value="Yes" required>
                <label class="form-check-label" for="radioInternetYes">
                    Yes
                </label>
                <input class="form-check-input" type="radio" id="radioInternetNo" name="radioNet" value="No" required>
                <label class="form-check-label" for="radioInternetNo">
                    No
                </label>
            </div>
            <div class="col-12">
                <label for="inputDescribeConfig" class="form-label">Describe the configurations of resources above and access management </label>
                <textarea class="form-control" id="inputDescribeConfig" name="inputDescribeConfig" rows="3" required>...</textarea>
            </div>
            <!-- Fim da parte de dados para area de Cloud -->

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>


    <script>
        const choiceRadios = document.querySelectorAll('input[name="radioRg"]');
        const resultDiv = document.getElementById('radioRgResult');
        
        choiceRadios.forEach(radio => {
            radio.addEventListener('change', () => {
                // resultDiv.innerHTML = ''; // Limpa o conteúdo anterior

                if (radio.value === 'Yes' && radio.id === "radioRgYes"){

                    resultDiv.innerHTML = ''; // Limpa o conteúdo anterior

                    // Lista de itens para campos de texto
                    const camposDict = [
                        {label: "E-mails of users that need access to the new Resource Group: ", type: "text", class:"form-control",
                         id: "inputNeedUsersAccess", name:"inputNeedUsersAccess", placeholder:"Put all the e-mails separeted by commas (,)"},
                        {label: "Project Name (One Word Only)", type: "text", class:"form-control", id: "inputProjectName", name:"inputProjectName",  placeholder:"Use only letters, numbers and -"},
                        {label: "Responsible for resources created (e-mail)", type: "text", class:"form-control", id: "inputResponsible", name:"inputResponsible", placeholder:"Responsible of the resources"},
                    ];

                    // Lista para itens do Select
                    const camposOption = [
                        {label:"Worload Type", 
                         class:"form-select",
                         id:"inputWorkType",
                         name:"inputWorkType",
                         valores: [ {value: "Lab/Poc", text: "Lab/Poc"},
                                    {value: "Dev", text:"Dev"},
                                    {value: "QA", text:"QA"}]
                        },
                        {label:"Resource's region", 
                         class:"form-select",
                         id:"inputRegion",
                         name:"inputRegion",
                         valores: [ {value: "East US", text: "East US"},
                                    {value: "West", text:"West"},
                                    {value: "South America", text:"South America"}]
                        },
                    ];
                    
                    // Lista para itens Radio
                    const camposRadio = [
                        {value: 'Need To Transition', label: 'Need To Transition' },
                        {value: 'Do not Transition', label: 'Do not Transition' }
                    ];

                    // Laço para criar itens de texto
                    camposDict.forEach(item => {
                        // Criacao do label
                        const label = document.createElement('label');
                        label.textContent = item.label;
                        // Criacao do campo 
                        const inputField = document.createElement('input');
                        inputField.setAttribute('id', item.id);
                        inputField.setAttribute('type', item.type);
                        inputField.setAttribute('class', item.class);
                        inputField.setAttribute('name', item.name);
                        inputField.setAttribute('placeholder', item.placeholder);
                        inputField.required = true;
                        resultDiv.appendChild(label);
                        resultDiv.appendChild(inputField);
                    });
                    
                    // Laço para criar itens de Select
                    camposOption.forEach(item => {

                        // Criacao do label
                        const label = document.createElement('label');
                        label.textContent = item.label;
                        // Criacao do item select
                        const select = document.createElement('select');
                        select.setAttribute('id', item.id);
                        select.setAttribute('class', item.class);
                        select.setAttribute('name', item.name);
                        select.required = true;
                        // Criacao das opcoes do select
                        item.valores.forEach(option => {
                            const optionElements = document.createElement('option');
                            optionElements.value = option.value;
                            optionElements.textContent = option.text;
                            select.appendChild(optionElements)
                        })
                        resultDiv.appendChild(label);
                        resultDiv.appendChild(select);
                    });
                    
                    // Criar Radio 
                    resultDiv.appendChild(document.createElement('br'));
                    const radioContainer = document.createElement('div');
                    radioContainer.setAttribute = ("class", "container");

                    const label = document.createElement('label');
                    label.textContent = "Transition Status";
                    label.class = "form-label";
                    resultDiv.appendChild(label);
                    resultDiv.appendChild(document.createElement('br'));

                    camposRadio.forEach(item => {
                        const radioLabel = document.createElement('label');
                        radioLabel.textContent = item.label;
                        radio.class = "form-check-label";

                        const radioButton = document.createElement('input');
                        radioButton.type = "radio";
                        radioButton.name = "radioTransition";
                        radioButton.class = "form-check-input";
                        radioButton.required = true;
                        radioButton.value = item.value;

                        radioContainer.appendChild(radioButton);
                        radioContainer.appendChild(radioLabel);
                        radioContainer.appendChild(document.createElement('br'));
                        resultDiv.appendChild(radioContainer);
                        
                    });

                    // Criar campo de DATA
                    resultDiv.appendChild(document.createElement('br'));
                    const dataContainer = document.createElement('div');
                    dataContainer.setAttribute = ("class", "container");

                    const labelData = document.createElement('label');
                    labelData.textContent = "End date for migration/exclusion of environment: ";
                    const dateInput = document.createElement('input');
                    dateInput.type = 'date';
                    dateInput.name = 'inputDate';
                    dateInput.required = true;

                    dataContainer.appendChild(labelData);
                    dataContainer.appendChild(dateInput);

                    resultDiv.appendChild(dataContainer);
                    
                }else if (radio.value === 'No' && radio.id === "radioRgNo") {
                    resultDiv.innerHTML = ''; // Limpa o conteúdo anterior
                    // Criacao do label
                    const label = document.createElement('label');
                    label.textContent = 'What is the name of the existing Resource Group? '

                    // Criacao do campo 
                    const inputField = document.createElement('input');
                    inputField.setAttribute('id', 'inputResourceGroup')
                    inputField.setAttribute('type', 'text');
                    inputField.setAttribute('class', 'form-control');
                    inputField.setAttribute('name', 'inputResourceGroup');
                    inputField.setAttribute('placeholder', 'Insert Only ONE RG Name');
                    inputField.required = true;
                    resultDiv.appendChild(label);
                    resultDiv.appendChild(inputField);
                }
            })
        })
    </script>
    
{% endblock %}






